* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.header {
    height: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
    border: solid 1px #ececec;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.container {
    margin: 0 auto;
}

.header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 2.313vw;
}

.logoImage {
    background-image: url(Images/logo-img.png);
    background-repeat: no-repeat;
    width: 3.688vw;
    height: 51px;
    margin-right: 0.813vw;
}

.logoText {
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: 0.68px;
    text-align: center;
    color: #222222;

}

.logoText span {
    color: #f16d7f;
}

.browse {
    width: 5.438vw;
    height: 40px;
    border: solid 1px #e6e6e6;
}

.searchForm {
    width: 17.438vw;
    height: 38px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    padding-left: 16px;
    margin-left: -0.312vw;
    margin-right: -0.312vw;
}

.search {
    width: 2.375vw;
    height: 40px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    margin-right: 19.625vw;
    ;
}

.myAccount {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.myAccountButton {
    width: 8.125vw;
    height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    border: none;
    margin-left: 1.625vw;
}

.main {
    width: 100%;
    position: relative;
}

.menu {
    height: 51px;
    background-color: #ffffff;
    display: flex;
}

.container-m {
    width: 43.750vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.menu-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: left;
    color: #222222;

}

.promo {
    display: flex;

}

.background {
    background: url("Images/promo-bg.png") no-repeat #e6e6e6;
    height: 613px;
    background-size: 1400px;
    background-position-x: 88px;
}

.promoContainer {
    width: 67.857vw;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 14.44vw;
    margin-right: 14.44vw;
}

.promo-content {
    justify-content: center;
    align-items: center;
}


.border {
    width: 0;
    height: 81px;
    border: solid 8px #f16d7f;
    border-radius: 0px;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 11px;
}

.promo-top {
    font-size: 60px;
    letter-spacing: 1.5px;
    font-style: normal;
    line-height: 55px;
    letter-spacing: 1px;
    text-align: right;
    color: #222222;
    align-items: center;
    text-align: left;

}

.promo-bottom {
    font-size: 40px;
    letter-spacing: 1.5px;
    font-style: normal;
    line-height: 55px;
    ;
    letter-spacing: 1px;
    text-align: right;
    color: #222222;
    align-items: center;
    text-align: left;
}

.promo-bottom span {
    color: #f16d7f;
}

.items {
    margin-top: 12.405vh;
    margin-left: 14.44vw;
    margin-right: 13.44vw;
}

.item {
    position: relative;
    height: 823px;
    margin: 0 auto;
}

.item-1 {
    background: url(Images/Layer30.png) no-repeat;
    position: absolute;
    left: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 35vw;
    height: 542px;
}

.item-2 {
    background: url(Images/Layer37.png) no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-right: 20px;
    width: 35vw;
    height: 261px;
}

.item-3 {
    background: url(Images/Layer32.png) no-repeat;
    position: absolute;
    right: 0;
    width: 35vw;
    height: 261px;
}

.item-4 {
    background: url(Images/Layer31.png) no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35vw;
    height: 542px;
}

.item-content {
    width: 175px;
    height: 82px;
    background-color: #ffffff;
    margin-top: 26px;
    font-size: 18px;
}

.item-2 .item-content {
    width: 225px;
    height: 82px;
}

.item-content-text {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.45px;
    text-align: left;
    color: #222;
    padding-top: 17px;
    padding-left: 19px;
    text-transform: uppercase;
}

.item-content-text span {
    font-size: 30px;
    letter-spacing: 0.75px;
    color: #f16d7f;
    text-transform: uppercase;
}

.f-items {
    margin-top: 101px;
}

.f-title {
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0.75px;
    text-align: center;
    color: #222;
}

.f-description {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.86;
    letter-spacing: 0.35px;
    text-align: center;
    color: #9f9f9f;
}

.f-images {
    margin: 0 auto;
}

.first-4 {
    display: flex;
    justify-content: space-around;
    margin-left: 12.44vw;
    margin-right: 10.44vw;
    margin-top: 59px;
}

.second-4 {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    margin-left: 12.44vw;
    margin-right: 10.44vw;
}

.image-title {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222;
    padding-top: 19px;
}

.price {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f16d7f;
    padding-top: 17px;
}

.browseAllProduct {
    display: flex;
    justify-content: center;
    margin-top: 79px;
}

.f-button {
    width: 212px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f16d7f;
    border: 0;
    color: #ffffff;
}

.arrow {
    padding-left: 16px;
}

.offer {
    margin-top: 113px;
    display: flex;
}

.offer-bg {
    background: url(Images/banner-bg.jpg) no-repeat;
    width: 767px;
    height: 529px;
}

.container-o {
    margin: 0 auto;
    display: flex;
}

.offer-content {
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #fff;
    padding-top: 148px;
    padding-left: 39px;
}

.percent {
    font-size: 53.5px;
    letter-spacing: 1.34px;

}

.pink {
    font-size: 53.5px;
    letter-spacing: 1.34px;
    color: #f16d7f;
}


.second-bg {
    background: #222222 no-repeat;
    width: 373px;
    height: 529px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.opportunities {
    padding-left: 36px;
    display: flex;
}

.i-opportunities {
    height: 40px;
}

.s-content {
    padding-top: 5px;
    padding-left: 33px;
}

.s-title {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: #fbfbfb;
}

.s-description span {
    color: #fbfbfb;
}

.s-description {
    width: 220px; 
    
    padding-top: 17px;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.35px;
    text-align: left;
    color: #fbfbfb; 
}

.aboutUs {
    margin-top: 97px;
}

.aboutUs-container {
    background: url(Images/Layer41.png) no-repeat ;
    width: 1600px;
    height: 438px;
}

.footerPhantom {
    height: 428px;
}

.footer {
    height: 428px;
    margin-top: -428px;
}