* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.header {
    height: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
    border: solid 1px #ececec;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.container {
    width: 75vw;
    margin: 0 auto;
}

.header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 6.125vw;
    margin-right: 2.313vw;
}

.logoImage {
    background-image: url(Images/logo-img.png);
    background-repeat: no-repeat;
    width: 3.688vw;
    height: 51px;
    margin-right: 0.813vw;
}

.logoText {
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: 0.68px;
    text-align: center;
    color: #222222;

}

.logoText span {
    color: #f16d7f;
}

.browse {
    width: 5.438vw;
    height: 40px;
    border: solid 1px #e6e6e6;
}

.searchForm {
    width: 17.438vw;
    height: 38px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    padding-left: 16px;
    margin-left: -0.312vw;
    margin-right: -0.312vw;
}

.search {
    width: 2.375vw;
    height: 40px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    margin-right: 15.625vw;
}

.myAccount {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.myAccountButton {
    width: 8.125vw;
    height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    border: none;
    margin-left: 1.625vw;
}

.main {
    width: 100%;
    position: relative;
}

.menu {
    height: 51px;
    background-color: #ffffff;
    display: flex;
}

.container-m {
    width: 43.750vw;
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.menu-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: left;
    color: #222222;

}

.promo {
    background-image: url(Images/promo-bg.png);
    height: 665px;
    display: flex;
    align-items: center;
}

.promoContainer {
    width: 67.857vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.border {
    width: 0;
    height: 80px;
    border: solid 8px #f16d7f;
    border-radius: 5px;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 11px;
}

.promo-content {
    align-items: flex-start;
}

.promo-top {
    font-size: 60px;
    letter-spacing: 1.5px;
    font-style: normal;
    line-height: 55px;
    letter-spacing: 1px;
    text-align: right;
    color: #222222;
    align-items: center;
    text-align: left;
}

.promo-bottom {
    font-size: 40px;
    letter-spacing: 1.5px;
    font-style: normal;
    line-height: 55px;;
    letter-spacing: 1px;
    text-align: right;
    color: #222222;
    align-items: center;
    text-align: left;

}

.promo-bottom span {
    color: #f16d7f;
}

.items {
    margin-top: 12.405vh;
    margin-left: 14.44vw;
}

.items-container {
    position: relative;
}

.item-1{
    background-image: url(Images/Layer30.png) ;
    position: absolute;
    left: 0;
    width: 35vw;
    height: 68.607vh   
}

.item-2{
    background-image: url(Images/Layer37.png) no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
}

.item-3{
    background-image: url(Images/Layer32.png) no-repeat;
    right: 0;
}

.item-4{
    background-image: url(Images/Layer31.png) no-repeat;
    right: 0;
    bottom: 0;
}


.footerPhantom {
    height: 428px;
}

.footer {
    height: 428px;
    margin-top: -428px;
}